* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;700;900&display=swap');

// variables
$color-accent : #d5966c;
$color-dark : #151515;
$color-grey : #444444;
$color-light : #ffffff;
// 
$font-size__title--header: 6rem;
$font-size__title--body: 4rem;
$font-size__text: 2.4rem;
$font-family-primary: "Big Shoulders Display";
$font-weight--1: 300;
$font-weight--2: 400;
$font-weight--3: 500;
$font-weight--4: 700;
$font-weight--5: 900;
// 
$line-height--title: 6rem;
$line-height--body: 3.2rem;
// 
@mixin dark-background {
    background-color: $color-dark;
    color: $color-light
}
// 


// ultility classes
.text {
    font-size: $font-size__text;
    line-height: $line-height--body;
    color: $color-grey
}

.title {
    line-height: $line-height--title;
    font-size: $font-size__title--body;
    letter-spacing: 2px;
}

.btn {
    padding: 1.4rem 2rem;
    text-transform: uppercase;
    background: $color-dark;
    color: $color-light;
    font-size: 2rem;
}



// 
html {
    font-size: 62.5%;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

img {
    width: 100%;
    object-fit: cover;
}

body {
    font-size: 1.8rem;
    font-family: $font-family-primary, sans-serif;
}

body > * {
    margin-bottom: 6rem;
}

.header--title {
    font-size: $font-size__title--header;
    font-weight: $font-weight--5;
    line-height: $line-height--title;
    padding: 2rem 2rem;
}

.header--text {
    padding: 2rem 2rem;
}

.header__link {
    padding: 2rem 2rem;
    max-height: 70px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.btn--location {
    height: 70px;
    max-width: 150px;
    min-width: 90px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 45%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__link img {
    height: 70px;
    width: min-content;
    padding: 2rem;
    text-align: left;
    background: $color-accent;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1%;
}

.gallery {
    padding: 2rem ;
    display: grid;
    grid-auto-columns: auto;

}

.gallery > * {
    margin-bottom: 1rem;
}


.gallery--title {
    font-size: $font-size__title--body;
    font-weight: $font-weight--5;
    line-height: 1.3;
    text-transform: uppercase;
}

.gallery--text {
    font-weight: $font-weight--1;
    margin: 1rem 0;
}

.gallery__content--1 {
    grid-row: 2;
}



.gallery__content:last-of-type {
    padding: 2.5rem;
    @include dark-background;

    & .gallery--title {
    }

    & .gallery--text {
        color: $color-light;
        font-weight: $font-weight--1;
    }
}

.location {
    margin-bottom: 0rem;
    position: relative;

    & .header__link {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        background: red;

        & .btn--location {
            flex-basis: 100%;
            order: 2;
        }
        
        & img {
            flex-basis: 20%;
            order: 1;
        }
    }



}


.address {
    background: $color-dark;
    color: #fff;
    padding: 2rem;
    margin-bottom: 0rem;

    & .address--title {
        text-transform: uppercase;
        margin: 1rem 0;
    }

    & .address--subtitle {
        text-transform: uppercase;
        color: $color-accent;
        margin: 1rem 0;
    }

    & .address--text {
        margin: 1rem 0;
        color: #fff;
        font-weight: $font-weight--1;

        span {
            display: block;
        }
    }

    & .address--content {
        font-weight: $font-weight--1;
        color: #fff;
    }

}

.footer {
    background-color: $color-dark;
    color: #fff;
    padding: 4rem;
    margin-bottom: 0rem;
}



.footer > * {
    margin-bottom: 1rem;
}


.footer--title {
    font-size: 2rem;
    line-height: 1.4;

}
.footer--text {
    font-size: 2rem;
    font-weight: $font-weight--1;
    color: #fff;
    margin: 4rem 0;
}

.footer__social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & span {
        margin-right: 1.6rem;
    }
}

.bg-accent {
    background: $color-accent;
    color: $color-dark ;
    & img {
        fill: #333;
    }

    & .footer--title, & .footer--text {
        color: $color-dark;
    }
}